.input {

}
    .input__label {
        display: inline-block;
        vertical-align: top;
        margin-bottom: 4px;
    }

    .input__widget {
        width: 100%;
        height: 40px;
        vertical-align: top;
        padding: 14px;
        background-color: #FFFFFF;
        border: 2px solid #FAFAFA;
        outline: none;
        background-clip: padding-box; /* reset iOS default shadow */
        border-radius: 20px; /* reset iOS default border-radius */
        font-family: inherit;
        font-size: 17px;
        line-height: 22px;
        color: #4C4C4C;
    }

    /*.input__widget:hover {*/
    /*    border-color: #7E7E7E;*/
    /*}*/

    /*.input__widget:focus {*/
    /*    border-color: #333333;*/
    /*}*/

    /* stylelint-disable block-opening-brace-space-before */
    .input__widget::-webkit-input-placeholder       { font-style: normal; color: #999999; }
    .input__widget::-moz-placeholder                { font-style: normal; color: #999999; opacity: 1; }
    .input__widget:-ms-input-placeholder            { font-style: normal; color: #999999; }
    /* stylelint-enable */


.input--area {

}
    .input--area .input__widget {
        vertical-align: top;
        height: auto; /* user rows="" attribute */
        min-height: 40px; /* one row */
        resize: vertical;
    }