.listing {
    position: relative;
    transition: padding-top 0.6s ease;
    backface-visibility: hidden;
}
    .listing__hint {
        color: #999999;
        text-align: center;
    }

    .listing__deck {
        margin-top: var(--card-ratio);
    }
        .listing__item {
            margin-top: calc(-1 * var(--card-ratio) + 24px); /* Пропорция картинки 1417/1004 */
            /*transition: top 1s ease;*/
        }

        .listing__item:first-child {

        }


.listing--expanded {
    padding-top: var(--card-ratio);
}
    .listing--expanded {

    }


.listing__item--current {
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 0;
}

.listing__hint {

}
