.listing {
    position: relative;
    transition: padding-top 1s ease;
    backface-visibility: hidden;
}
    .listing__hint {
        color: #999999;
        text-align: center;
    }

    .listing__flip-handler {
        margin-top: 24px;
    }

    .listing__deck {
        margin-top: 24px;
    }
        .listing__item {
            margin-top: calc(-1 * var(--card-ratio) + 23px); /* Пропорция картинки 1417/1004 */
            /*transition: top 1s ease;*/
        }

        .listing__item:first-child {
            margin-top: 0;
        }

        .listing__flip-handler.button,
        .listing__flip-handler .button {
            width: 100%;
        }


.listing--expanded {
    padding-top: var(--card-ratio);
}
    .listing--expanded {

    }

.listing__item--current {
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 0;
}

.listing__hint {

}
