.navigation {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: minmax(0, 1fr);
    gap: 16px;
    padding: 12px 16px;
    background-color: #FFFFFF;
    border-top: 1px solid #F5F5F5;
}
    .navigation__link {

    }