.tag {
    display: inline-block;
    vertical-align: top;
    border: none;
    padding: 6px 0;
    font-family: inherit;
    background-color: transparent;
    cursor: pointer;
}
    .tag__label {
        display: block;
        padding: 8px 20px;
        background-color: #FFFFFF;
        border-radius: 18px;
        color: #4C4C4C;
    }
        .tag__color {
            float: left;
            width: 24px;
            height: 24px;
            border-radius: 12px;
            margin: -2px 10px -2px -12px;
        }